@import "settings/settings";

form {
    text-align: center;
    .input-group {
        input, button {
            text-align: center;
            padding: .75rem;
            margin: 1rem;
            border-radius: 5px;
        }

        button {
            background-size: 200%;
            background-image: linear-gradient(to right, #00A0FF 0%, #1fe3fd 51%, #00A0FF 100%) !important;
            transition: .5s ease-in-out;
            padding: 1rem;
            cursor: pointer;
            border: 0;
            width: 50%;
            color: white;

            &:hover {
                background-position: right center !important;
            }
        }

        input {
            border: 1px solid $borderColor;
            font-weight: 300;
            font-size: 1.6rem;
            width: 100%;
        }
    }
}